.heading {
	margin-top: 100px;
	width: 320px;
	display: flex;
	justify-content: space-around;
}

.footer {
	margin-top: 80px;
	margin-bottom: 40px;
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	color: white;
}

.icon {
	font-size: 40px;
}
