.heading {
	margin-top: 100px;
	width: 320px;
	display: flex;
	justify-content: space-around;
}

.footer {
	background-color: blue;
}

.link {
	text-decoration: none;
	color: white;
}

.icon {
	font-size: 40px;
}
